.title {
    text-align: center;
    margin-bottom: 40px;
}

.text-uppercase {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;  
}
img {
    height: 300px;
    border-radius: 20px;
}
.card {
    background-color: black;  
    border-radius: 20px;
    color: white;
    margin-top: 15px;
}
.btn {
    background-color: red;
    color: black;
    
}
.btn:hover {
    color: white;
}

.warning {
    position: relative;
    left: 80px;
    color: black;
  }
.nav-item {
    float: left;
    color: blue;
}
